@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card.image-full:before{
    border-radius: unset !important;
    @apply bg-base-300;
}

textarea::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Chakra Petch', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    @apply antialiased;
    scroll-behavior: smooth;
}
