@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Chakra Petch', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    @apply antialiased;
    scroll-behavior: smooth;
}

.active {
    @apply bg-primary_logo_light  dark:bg-primary_logo_dark;
}

body {
    color: black;
    /*color: rgb(var(--foreground-rgb));*/
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent,*/
    /*        rgba(var(--background-end-rgb))*/
    /*) rgba(var(--background-start-rgb));*/
}